<h1>@KevinBongart no need to wear a coat to procrastinate in front of your MacBook.</h1>
<h2>Dumbass.</h2>

<h1>@elniafron62 no need to wear a coat to go to a concert with @kirbal.</h1>
<h2>Calling it "bromance" doesn't make it any less gay.</h2>

<h1>@everyone sorry, it looks like I couldn't find your city.</h1>

