<h2><%= @message1 %></h2>
<h1><%= @yesorno %></h1>
<h2><%= @message2 %></h2>
<h1>Where do you live?</h1>
<form method="post" action="/">
	<input type="text" name="post[city]" /><br />
	<input type="submit" value="Should I wear a coat today?" />
</form>
